
body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 820px; 
}


html { box-sizing: border-box; font-size: 10px; }
*, *:before, *:after { box-sizing: inherit; }
body, ul, li  { margin: 0; padding: 0; }
li { list-style: none; }
p, h1, h2, h3, h4, h5, h6 { margin-top: 0; }
a { text-decoration: none; }
input { border-style: none; background: transparent; outline: none; }
button { padding: 0; background: none; border: none; outline: none; }

// some basic page styles
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
}

// for demo

.container {
    margin-left: 892px;
    
    
}


$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;

// gradient animation
@keyframes gradient { 
  0%{background-position:0 0}
  100%{background-position:100% 0}
}

.webflow-style-input {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1.4rem 2rem 1.6rem;
 
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    z-index: 999;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-position: 0% 0%;
    background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
  }
}


.webflow-style-input input {
  flex-grow: 1;
  color: $input-text-active;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
  &::-webkit-input-placeholder {
    color: $input-text-inactive;
  }
}

.webflow-style-input button {
  color:  $input-text-inactive;
  font-size: 2.4rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color .25s;
  &:hover {
    color: $input-text-active;
  }
}

circle {
    stroke: #57E6E6;
    animation: gradient 3s linear infinite;
}

.greater { 
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 900px;
    opacity: 0;
    animation-name: fadeInOut;
    animation-duration: 5s;
    color: #d8d6d6;

}

.lesser {
    
    font-size: 40px;
    position: absolute;
    top: 40px;
    left: 433px;    
    opacity: 0;
    animation-name: fadeInOut;
    animation-duration: 5s;
    color: #d8d6d6; 
}


@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    45% {
      opacity: 1;
    }
  
    100% {
      opacity: 0%;
    }
  }

.title {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 10px; 
    color: rgb(218, 218, 218); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    display: flex;
    flex-direction: column;
}




.title:hover {
    cursor: pointer;
}

.linkedin-logo, .github {
    width: 40px;
    height: 40px;
    /* margin: 5px; */
   
    margin-top: 10px;
}

.combine-button {
    position: relative;
    color: rgb(218, 218, 218); 
    top: -40px;
    left: 0px;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    width: 162px;
    height: 50px;
    border: 1px solid teal;
    
  
}

.combine-button:hover {
    cursor: pointer; 
}

@-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .hvr-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }