
body {
    background-image: linear-gradient(black, grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    width: 50% 
}

    
